<footer>
    <div class="f-info">
        <div class="f-info-socials">
                <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>                
            
            &nbsp;
            <a href="https://www.instagram.com" target="_blank">  <i class="fa-brands fa-square-instagram"></i></a>
       

            &nbsp;
            <a href="https://www.linkedin.com" target="_blank"> <i class="fa-brands fa-linkedin"></i></a>
           
        </div>
        &nbsp;
        <div class="f-info-brand"> &copy; Wonderfull Private Limited</div>
        &nbsp;
        &nbsp;
        &nbsp;  &nbsp;
        <div class="f-info-links">
            <a href="//Privacy">Privacy</a>
            &nbsp;
            <a href="/Terms">Terms</a>
        </div>
    </div>
</footer>